<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>	
		<add name="FLCADDB"
			 connectionString="Data Source=DESKTOP-EBUSJ7U\SQLSERVER2019;Database=FLCADTest;Trusted_Connection=yes;MultipleActiveResultSets=true;"/>
	</connectionStrings>
	<appSettings>
		<add key="ErrorLogPath" value="D:\FLCADmodules\GetVersion_error.txt"/>
		<add key="FLCAD_MAIL_READ" value="D:\FLCADmodules\FLCAD_MAIL_READ\FLCAD_MAIL_READ\bin\Debug\FLCAD_MAIL_READ.exe"/>
		<add key="FLCAD_MAIL_SEND" value="D:\FLCADmodules\FLCAD_MAIL_SEND\FLCAD_MAIL_SEND\bin\Debug\FLCAD_MAIL_SEND.exe"/>
		<add key="ProcessAutoCad" value="D:\FLCADmodules\ProcessAutoCad.exe"/>
		<add key="MailSave" value="D:\FLCADmodules\\MailSave_Server.exe"/>
		<add key="ETBInput" value="D:\FLCADmodules\ETBInput.exe"/>
		<add key="ETBOutput" value="D:\FLCADmodules\ETBOutput.exe"/>
		<add key="MemoryLoadMonitor" value="D:\FLCADmodules\MemoryLoadMonitor.exe"/>
		<add key="AzureFileBlobCopyservice" value="D:\AzureBLobFIleCopyWindowsService\AzureBlobFileCopyService.exe"/>
	</appSettings>
</configuration>
