<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>	
		<add name="FLCADDB"
			 
             connectionString="Server=flcad-masterdb-poc.cn69ovj0gnwo.eu-central-1.rds.amazonaws.com;Database=GlobalProto;MultipleActiveResultSets=true;User Id=flcadmaster;Password=eqQBoqe.piRnjLNYVA3foYuB" providerName="System.Data.SqlClient" /> 
	
	</connectionStrings>
	<appSettings>
		<add key="ErrorLogPath" value="C:\FILEVersion_errorlog"/>
		<!--<add key="ErrorLogPath" value="D:\GetVersions/project_08_Dec_2022\GetVersions/project\GetVersions\ErrorGetFileVerson.txt"/>-->
	</appSettings>
</configuration>


<!--<add name="FLCADDB"
       connectionString="Server=flcad-masterdb-poc.cn69ovj0gnwo.eu-central-1.rds.amazonaws.com;Database=GlobalProto;MultipleActiveResultSets=true;User Id=flcadmaster;Password=eqQBoqe.piRnjLNYVA3foYuB" providerName="System.Data.SqlClient" />--> 
