<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>	
		<add name="FLCADDB" 
			 connectionString="Data Source=DESKTOP-EBUSJ7U\SQLSERVER2019;Database=FLCADTest;Trusted_Connection=yes;MultipleActiveResultSets=true;"/>
	</connectionStrings>
	<appSettings>
		<add key="ErrorLogPath" value="D:\GetVersions/project_08_Dec_2022\GetVersions/project\GetVersions\ErrorGetFileVerson.txt"/>
	</appSettings>
</configuration>


